<!DOCTYPE html>
    <html>
        <head>
            <title>CONTACT</title>
        </head>

        <body></body>
            {{>headers}}
            
            <h4>Name: {{pageName}}</h4>
            <h4>Phone Number: {{pagePhone}}</h4>    
        </body>
    </html>