<!DOCTYPE html>
    <html>
        <head>
            <title>FAQ</title>
        </head>

        <body></body>
            {{>headers}}
            <h4>By {{pageAuthor}}</h4>   

            {{>footer}} 
        </body>
    </html>